<nav class="navbar navbar-expand-lg navbar-light mb-3">
    <div class="container cont2">
        <a class="navbar-brand" href="/about"><a
                class="fas fa-bus display-5 pb-3 pt-3 text-black text-decoration-none" href="/about"></a></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav ms-auto mb-lg-0" role="tablist">
                <li class="nav-item pe-4 ps-4">
                    <a class="nav-link btn mt-2 mb-2 ps-4 pe-4 me-4" id="sign_in" href="/login">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary text-white mt-2 mb-2 ps-4 pe-4" href="/create_user">Create
                        Account</a>
                </li>
            </ul>
        </div>
    </div>
</nav>