<form class="card-body pt-0 ps-4 p-5 ms-5" method="POST" action="/create_admin">
<input type="password" class="form-control" id="floatingPassword" placeholder="Password"name="password" required>
<label for="floatingPassword">Password</label>
<input type="email" class="form-control" id="floatingEmail" placeholder="abc@example.com" name="email" required>
<label for="floatingEmail">Email</label>
<input type="text" class="form-control" id="floatingUser" placeholder="JackBauer" name="username" required>
<label for="floatingUser">Username</label>
<button type="submit">Submit</button>
</form>