<%- include(`partials/header`); -%>
<head>
    <title>Available Buses</title>
    <!-- Custom styles for this template -->
    <link href="booking_style.css" rel="stylesheet">
</head>
<%- include(`partials/navbar_unlogged`); -%>

<%- include(`partials/footer`); -%>
