<%- include(`partials/header`); -%>

    <head>
        <title>Success</title>
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="about_style.css">
    </head>
    <main class="container py-4 mt-4">
        <article class="h-50 p-5 text-white bg-dark border rounded-3">
            <h2 class="text-success display-1 fw-normal">Success</h2>
            <p class="col-md-8 fs-4 ps-1">You're now in queue to be signed up as our driver.<br />Please wait 3-4
                business days for Admin to verify details!</p>
            <a class="btn btn-outline-light btn-lg ms-1" href="/about">Home</a>
        </article>
    </main>
    <%- include(`partials/footer`); -%>