

* {
    font-family: 'Poppins', sans-serif
}
html,
body {
  height: 100%;
}

body {
  display: flex;
  background-image: url("photo-1544620347-c4fd4a3d5957.jpg");
  background-size:cover;
  background-attachment: fixed;
}
#sign_in{
  color:#0d6efd;
  border-radius: 5px;
  border-color:#dadce0;
  background-color: #ffffff;
}
#sign_in:hover{
  background-color: #dadce0;
  border-color:#0d6efd;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}
